img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height:  40px;;
  }
body { background-color:darkgreen; font-family:Arial, Helvetica, sans-serif;}
h1 {font-size:18px;font-family: Arial, Helvetica, sans-serif; text-shadow:darkslategrey;}
h2{ font-size:16px;}
a {text-decoration:none;}
a :hover {text-decoration:underline;}
p {font-size:14px; ;}